.recordContainer {
  display: flex;

  justify-content: center;
  height:70vh;
  flex-wrap: wrap;
 
  overflow-y: auto;
  scroll-behavior: smooth;
}
.footer {
  position: fixed;
  left:0;
  bottom: 0;
  text-align: center;

}
.message_alert{
  height: 50px;
}
.alert_message{
  height: 30px;
  margin-top:100px;
}