.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
   
   
    width: 100%;
    
}