.record {
  margin: 10px;
  color: #fbfeff;
  background: linear-gradient(to right, #603813, #b29f94);

  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 151px;
  width: 300px;
  border: 1px solid;
  border-radius: 18px;
  color:white;
 
}
.record_botton_container {
  margin-top: 10px;
  display: flex;
}
.record_botton_container > button {
  height: 30px;
  width: 50%;
  cursor: pointer;
  margin: 5px;
}
.site_name {
  font-size: 20px;
  height: 31px;
  background: linear-gradient(to right, #000000, #e4e5e6);
  text-align: center;
  border-radius: 10px;
}
.usercontainer,
.passContainer {
  margin-top: 5px;
  display: flex;
  justify-content:left;
  padding-left: 10px;
  align-items: center;
}
.usercontainer img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.passContainer img {
  margin-top: 5px;
  margin-right: 5px;

  width: 30px;
  height: 30px;
}
.copy_image{
  cursor: pointer;
}
.username{
  margin-left: 2px;
}
.password{
  margin-left:2px;
 
}
.update_record_site_name,.update_record_username,.update_record_password{
  display: flex;
  flex-direction: column;

}
.update_record_site_name input,.update_record_username input,.update_record_password input{
  width: 300px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 15px;
  color: #0a2d61;
  margin-top:5px;
}
.updateButtonConatain {
  height: 30px;
  margin-top:20px;
  margin-bottom: 20px;
  display:flex;
 

  justify-content: space-evenly;
  
}
